.header {
  display: flex;
  justify-content: center;
}
.homeHeading {
  color: #24292f;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 68px;
  max-width: 900px;
  margin: 2rem;
}
.heading {
  color: #24292f;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 46px;
  font-weight: 800;
  margin: 2rem;
  display: block;
}
.gradient {
  background: -webkit-linear-gradient(-70deg, #63db46 0%, #2188ff 100%);
  background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
}
