p {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-style: normal;
  font-weight: 400;
  color: #292929;
}
h1,
h2,
h3,
h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  color: inherit;
  text-decoration: inherit;
}
time {
  color: #757575;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}
