body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
  font-size: 18px;
  line-height: 32px;
  font-style: normal;
  font-weight: 400;
  color: #292929;
}
header a {
  color: inherit;
  text-decoration: inherit;
}
time {
  color: #757575;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}
ul li {
  margin: 0.5rem 0;
  font-size: 16px;
  line-height: 24px;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table tr {
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  padding: 0.3rem;
}
table th,
table td {
  padding: 0.5rem;
  text-align: center;
}
