.heading {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: normal;
}
.datetime {
  color: #757575;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}
.preview {
  color: #757575;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.article {
  border-top: 1px solid #e6e6e6;
}
a.link {
  color: inherit;
  text-decoration: inherit;
}
